<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=
            ce-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Du_Lich</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="stylesheets/css/style.css" rel="stylesheet" />
</head>

<body>
    <!-- Navigation -->
    <script src="stylesheets/js/location.js"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Du Lịch</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <h1 class="my-4">
                    Địa điểm du lịch
                </h1>
                <% locations.forEach(el => { %>
                <div class="card mb-4">

                    <div class="card-body"><a id="<%=el._id%>">
                            <h2 class="card-title"><%=el.name%></h2>
                            <img class="card-img-top" src="<%=el.imageLink%>" alt="<%=el.name%>" />
                            <p class="card-text">
                                <%=el.shortDescription%>
                            </p>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"> Hoàng thành Thăng Long</h5>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul>
                                                <li>Thành phố Hà Nội</li>
                                                <li> <b>Mô tả </b>
                                                    <p>Hoàng Thành Thăng Long có diện tích khá là rộng, có thể bạn sẽ
                                                        bắt gặp những đoàn sinh viên đi chụp ảnh kỷ yếu hay lễ hội sách
                                                        hay văn hóa, chợ của Hà Nội xưa được tổ chức tại đây<p>
                                                <li></li>

                                        </div>
                                        <center>
                                            <p><b>Feedback</b></p>
                                        </center>
                                        <div class="modal-footer">
                                            <div class="card my-4">

                                                <div class="card-body">
                                                    Đây là trang du lịch mô tả những địa điểm du lịch hấp dẫn nhất Việt
                                                    Nam.
                                                    Bạn có thể tham khảo tại đây!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="commentBodyContainer"><textarea name="commentBody" rows="2"
                                                    cols="48" id="commentBodyField"
                                                    onkeypress="BLOG_CMT_onCommentBodyChange()"
                                                    placeholder="Nhập nhận xét của bạn..."></textarea><br></div>
                                            <button type="button" class="btn btn-primary">Chấp nhận</button>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal">
                                Xem thêm
                            </button>
                    </div>
                    </a>
                </div>
                <% }) %>
                <!-- Blog Post -->
                <!-- <div class="card mb-4">
                        
                        <div class="card-body"><a id="diadiem1">
                            <h2 class="card-title">Post Title</h2>
                            <img
                            class="card-img-top"
                            src="http://placehold.it/750x300"
                            alt="Card image cap"
                        />
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Reiciendis aliquid atque,
                                nulla? Quos cum ex quis soluta, a laboriosam.
                                Dicta expedita corporis animi vero voluptate
                                voluptatibus possimus, veniam magni quis!
                            </p>
                            <a href="#" class="btn btn-primary"
                                >Read More &rarr;</a
                            >
                        </div>
                        <div class="card-footer text-muted">
                            Posted on January 1, 2017 by
                            <a href="#">Start Bootstrap</a>
                        </div>
                        </a>
                    </div>

                    
                    <div class="card mb-4">
                        
                        <div class="card-body"><a id="diadiem2">
                            <h2 class="card-title">Post Title</h2>
                            <img
                            class="card-img-top"
                            src="http://placehold.it/750x300"
                            alt="Card image cap"
                        />
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Reiciendis aliquid atque,
                                nulla? Quos cum ex quis soluta, a laboriosam.
                                Dicta expedita corporis animi vero voluptate
                                voluptatibus possimus, veniam magni quis!
                            </p>
                            <a href="#" class="btn btn-primary"
                                >Read More &rarr;</a
                            >
                        </div>
                        <div class="card-footer text-muted">
                            Posted on January 1, 2017 by
                            <a href="#">Start Bootstrap</a>
                        </div>
                        </a>
                    </div>

                    
                    <div class="card mb-4">
                        <div class="card-body"><a id="diadiem3">
                            <h2 class="card-title">Post Title</h2>
                            <img
                            class="card-img-top"
                            src="http://placehold.it/750x300"
                            alt="Card image cap"
                        />
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Reiciendis aliquid atque,
                                nulla? Quos cum ex quis soluta, a laboriosam.
                                Dicta expedita corporis animi vero voluptate
                                voluptatibus possimus, veniam magni quis!
                            </p>
                            <a href="#" class="btn btn-primary"
                                >Read More &rarr;</a
                            >
                        </div>
                        <div class="card-footer text-muted">
                            Posted on January 1, 2017 by
                            <a href="#">Start Bootstrap</a>
                        </div>
                    </a>
                    </div> -->

                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Older</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Newer &rarr;</a>
                    </li>
                </ul>
            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Chọn địa điểm</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <div class="btn-group">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown">
                                    Thành phố
                                </button>
                                <div class="dropdown-menu">
                                    <!--<% locations.forEach(el => { %>
                                            <a class="dropdown-item" href="#<%=el._id%>"><%=el.name%></a>
                                          <% }) %>-->
                                    <a class="dropdown-item" href="#" id='dalat'>Đà Lạt</a>
                                    <a class="dropdown-item" href="#" id='hochiminh'>Thành phố Hồ Chí Minh</a>
                                    <a class="dropdown-item" href="#" id='hanoi'>Hà Nội</a>
                                    <a class="dropdown-item" href="#" id='hue'>Huế</a>

                                </div>
                            </div>
                            </span>

                        </div>
                    </div>
                </div>
                <div class="card my-4">
                    <h5 class="card-header">Thêm đề xuất</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModal2" data-whatever="@mdo">Chọn đề xuất</button>
                            </div>

                        </div>
                        </span>

                    </div>
                </div>
                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Mô Tả</h5>
                    <div class="card-body">
                        Đây là trang du lịch mô tả những địa điểm du lịch hấp dẫn nhất Việt Nam.
                        Bạn có thể tham khảo tại đây!
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chọn đề xuất</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Nhập tên địa điểm đề xuất</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                    </form>
                </div>
                <center>
                    <p><b>Ảnh</b></p>
                </center>
                <div class="modal-footer">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Choose File</button>
                    <button type="button" class="btn btn-primary">Gửi</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="stylesheets/js/jquery.min.js"></script>
    <script src="stylesheets/js/bootstrap.bundle.min.js"></script>
    <script>
        $('#hanoi').click(function () {
            let reqURL='/'+'Hanoi';
			console.log("TCL: reqURL", reqURL)
            $.get(reqURL, function (data, status) {
                console.log('data');
                console.log(data);
            });
        })

    </script>
</body>

</html>